body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg_custon_primary {
  background-color: #3577f0;
}
.bg_custom_secondary {
  background-color: #292930;
  color: #c2c2cc;
}
.text_custom_primary {
  color: #292930;
}
.text_custom_seconadry {
  color: #c2c2cc;
  transition: 0.3s ease-in-out;
}
.text_custom_seconadry:hover {
  color: #dedee0;
}
.search_input {
  top: 6px;
  left: 10px;
}
.nav_links {
  color: #fff;
  border-bottom: 3px solid transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 10px;
}
.nav_links:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.custom_caption {
  top: 45%;
  transform: translateY(-50%);
  text-align: left;
  left: 0;
}
.carousel-indicators [data-bs-target] {
  background-color: #3577f0 !important;
}
.carousel-control-prev, .carousel-control-next {
  display: none;
}